# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# sveltekit
.svelte-kit

# Custom
PLAN.md
temp_login/AuthScreen.js
temp_login/ForgotPasswordScreen.js
temp_login/index.js
.gitignore
temp_login/InviteEmployeeScreen.js
temp_login/ManageAccountScreen.js
.gitignore
.gitignore
temp_login/VerifyEmailScreen.js
temp_login/StaffManagementScreen.js
